body {
    color:black;
    background-color:rgb(214, 208, 208);
    font-family: 'Imprima', sans-serif;
    font-size: 28px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("./Office-Desk.jpg");
    background-size: 100% 100%;
    box-shadow: 3px 3px 3px gray;
    padding-bottom: 100px;
    font-size: 36px;
    opacity: 0.75;
    font-weight: bolder;
    
}

#navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    font-size: 20px;
} 

img {
    margin-left: 30px;
    width:250px;
    height:250px;
    box-shadow: 4px 4px 4px black;
    border-radius: 200px;
}

ul li {
    list-style-type:none;
}

.container1{
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 100px;
 
}
.container1 p{
align-content: left;
padding-top: 20px;
padding-left: 20px;

}
.aboutme{
    color: rebeccapurple;
    margin-bottom: 40px;
    padding-right: 30px;
}

.container { 
    display:flex;
    justify-content:center; 
    flex-direction: row;
    width: 100%;
    margin-left:85px;
    flex-direction:unset; 
    flex-wrap: wrap; 
    color:black;
    font-weight: bolder;
}
#container{
    text-align: center;
    padding-left: 100px;
    padding-top:100px;
    color:rgb(0, 0, 0);
    opacity: 5;
 }

#flex {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 40px; 
    line-height: 1.25;
    background-image: url("./panel.jpg");
    border:3px solid seagreen;
    border-radius: 150px;
}



#flexbox-3 {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
     width: 100%;
    line-height: 1.25; 
}

#flexbox-3 p{
margin-left: 150px;
margin-right: 150px;
}

#line1 {
    height:190px;
    border-right: 3px solid seagreen;
   
}

nav a:hover{
    cursor: pointer;
    font-size: 25px;
    color:seagreen
}
.aboutme :hover{
    cursor: pointer;
    color: rebeccapurple;
}

#flex:hover{
    font-size: 48;
    font-weight: bolder;
    cursor: pointer;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

@media (min-width:768px) {
.container .header .flexbox-3 {
    width: 50%;
    }
}
    @media screen and (max-width: 992px) {
        .container1 {
          width: 50%;
        }
      }

@media screen and (max-width: 600px) {
    .flex .aboutme {
      width: 100%;
    }
  }